<div class="side-nav-container short">
    <nav >
        <button class="toggler"><i class="fa-solid fa-bars"></i></button>

        <ul class="nav-items">
         <a href="/admin" style="text-decoration: none;color: white;"><li  class="nav-item"><i class="fa-solid fa-user"></i><span class="hide">Dashboard</span></li></a> 
         <a href="/landingpage" style="text-decoration: none;color: white;"><li  class="nav-item"><i class="fa-solid fa-house"></i><span class="hide">Home</span></li></a>
         <a href="/admin/all_experts" style="text-decoration: none;color: white;"><li  class="nav-item"><i class="fa-solid fa-user-tie"></i><span class="hide">Experts</span></li></a> 
         <a href="/admin/all_articles" style="text-decoration: none;color: white;"><li class="nav-item"><i class="fa-sharp fa-solid fa-newspaper"></i><span class="hide">Articles</span></li></a>        
         <a href="/admin/query" style="text-decoration: none;color: white;"> <li class="nav-item"><i class="fa-solid fa-message"></i><span class="hide">Queries</span></li></a>
         <a href="/admin/mail" style="text-decoration: none;color: white;"> <li class="nav-item"><i class="fa-solid fa-envelope"></i><span class="hide">Mail</span></li></a>
         <a href="/logout" style="text-decoration: none;color: white;"> <li class="nav-item"><i class="fa-solid fa-right-from-bracket"></i><span class="hide">Logout</span></li></a>        
        </ul>
    </nav>
</div>