<div id="loading">
     <img src="../images/load_2.gif" alt="" class="loading-img">

</div>

<style>
    #loading{
        display: flex;
        height: 100vh;
        width: 100vw;
        position: fixed;
        background-color: black;
        z-index: 200;
        justify-content: center;
        align-content: center;
    }
    body{
        overflow: hidden;
    }
    #loading img{
        transform: scale(0.5);
    }

</style>

<script>
    let loader=document.getElementById('loading');
    let body=document.getElementsByTagName('body');
       window.addEventListener('load',()=>{
              loader.style.display='none';
              body[0].style.overflow='scroll';
       })
</script>