<div class="searchbar-container d-flex">
    <form class=" searchbar-form d-flex">
        <input class=" mysearchbar form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <div class="form-group myfilterdropdown">
            <select class="myselect form-control" id="filterSelect">
              <option>Newest First </option>
              <option>Oldest First</option>
              <option>Most Liked First</option>
            </select>
          </div>

        <button class="btn btn-outline-success" type="submit">Search</button>


    </form>
</div>

