<!DOCTYPE html>
<html>

<head>
    <title>Particles.js Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="particles-js">

        <div class="project_name_container">
             
               <h1 class="mindmeld">MIND MELD</h1>
           
            
               
        </div>
        <div class="hrefs">
            <h2 class="navi"> <a href="/contactus">ContactUs</a> </h2>
            <h2 class="navi"> <a href="/aboutus">AboutUs</a></h2>
          </div>
        <div class="bottom-btns">
            <h2 class="explore">EXPLORE OUR VISION</h2>
            <a href="/signup"> <button class="signup">Sign Up</button></a>
            <a href="/login"><button class="login">Login</button></a>
          </div>
         
    </div>

    <script src="/js/particles.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>