<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    body
    {
        text-align: center;
        background: #fceabb ;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .formdiv
    {
        width: 300px;
        height: 200px;
       margin-top: 200px;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       flex-direction: column;
    }

    .formdiv h2{
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        width: fit-content;

    }
    span{
        font-weight: 600;
        margin: 10px;
        font-size: 20px;
    }
    input
    {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        padding: 5px;
    }
    .formdiv button{
        width: 100px;
        height: 30px;
        background-color: rgb(120, 120, 238);
        font-size: 20px;
        color: white;
        margin:0;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<body>
    <div class="formdiv">
    <form action="/passwordchange" method="post" class="form">
        <h2>Enter new password</h2>
        <input placeholder="Enter new password" type="password" name="pswd" class="pswd"> <br>
        <span class="incp" style="color: red;"></span>
        <h2>Confirm password</h2>
        <input placeholder="Re-enter password" type="password" name="cnfpswd" class="cnfpswd"><br>
        <span class="inccp" style="color: red;"></span>
        <br>
        <br>
        <button type="submit" class="submit">SUBMIT</button>
    </form>
</div>
    <script>
        function checkpassword(str) {
      return /^^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,15}$/.test(str);
    }
    pswd=document.querySelector('.pswd');
    cnfpswd=document.querySelector('.cnfpswd');
    incp=document.querySelector('.incp');
    inccp=document.querySelector('.inccp');
    form=document.querySelector('.form');
    submit=document.querySelector('.submit');
    pswd.addEventListener('keyup',(req,res)=>{
        if(!checkpassword(pswd.value))
        incp.innerHTML="Incorrect password format"
        else
        incp.innerHTML="";
    })
    cnfpswd.addEventListener('keyup',(req,res)=>{
        if(pswd.value!==cnfpswd.value)
        inccp.innerHTML="Incorrect password format"
        else
        inccp.innerHTML="";
    })
   submit.addEventListener('click', (event) => {
      event.preventDefault(); // prevent form from submitting
      // perform form validation
      
      if (checkpassword(pswd.value)) {
        form.submit();
      } 
      else
      {
      }
    })
    
    
    </script>
</body>

</html>