<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   </head>
<body onload="checkup()">

  <%- include('partials/loading') %>

  <%- include('partials/cursor') %>
  <div class="total_signup">

  <div class="container animated wow fadeInDown" data-wow-delay="0.1s">

    <div class="title">Sign Up</div>
    <div class="content" data-wow-delay="0.4s">
      <form action="/signup" method="post" class="myform">
        <div class="user-details">
          <div class="input-box animated wow fadeInLeft">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter First name" class="firstname" name="fname"  required>
            <span class="incfn" style="color:red;"></span>
          </div>
          <div class="input-box animated wow fadeInRight">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter Last Name" class="lastname" name="lastname"  required>
            <span class="incln" style="color:red;"></span>
          </div>
          <div class="input-box animated wow fadeInLeft">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" class="email" name="email" required>
            <span class="incem" style="color:red;"><%= em %></span>
          </div>
          <div class="input-box animated wow fadeInRight">
            <span class="details">Contact Number</span>
            <input type="text" placeholder="Enter your number" class="phno" name="phno" required>
            <span class="inccn" style="color:red;"></span>
          </div>
          <div class="input-box animated wow fadeInLeft">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" class="password" name="pswd" required>
            <span class="incpswd" style="color:red;"></span>
          </div>
          <div class="input-box animated wow fadeInRight">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" class="cnfpassword" name="cnfpswd" required>
            <span class="incnfpswd" style="color:red;"></span>
          </div>
          <span style="color:aliceblue;font-size: 13px;">*Password must contain letters,numbers and symbols and must be of length atleast 6</span>
        </div>
       <div class="option animated wow fadeInDown">
        <span class="details">Register as:</span>

        <select onclick="checkup()" name="registeras" id="motive" style="width:100px;height:30px;padding: 3px;font-size: 16px;" >
          <option  value="user" >User</option>
          <option  value="expert">Expert</option>

        </select>

       </div>
       <div class="resume">
        <br>
        <span class="details">Upload Resume(Required for expert)</span>
        <br>
        <input type="file" name="resume" class="resume_upload">

       </div>
       <br>

        <div class="button animated wow flipInY" data-wow-delay="0.5s">
         <button type="submit" value="Register"  class="register" >Register</button> 
           <p style="text-align: center;margin-top: 10px;">Already a member? <a href="/login" style="text-decoration: none;color: white;margin-left: 5px;">Login</a></p>
        </div>
      </form>
    </div>
  </div>
  <div class="signup_image wow fadeInUp">
    <img src="../images/Sign up-pana.png" alt="">
  </div>
</div>
 <!-- <script src="../js/signup.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  <script src="../js/signup.js"></script>
  <script src="../js/cursor.js"></script>

  <script>
    new WOW().init();
   
    


  </script>
</body>
</html>
