
body {
    font-family: 'Schibsted Grotesk', sans-serif;
    background: rgb(242, 239, 240);
    background: radial-gradient(circle, rgba(242, 239, 240, 1) 0%, rgba(230, 231, 182, 1) 100%);
}

.allcards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.singlecard {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    min-height: 470px;
    padding-bottom: 5px;
    background-color: rgb(238, 238, 238);
}

.heading {
    border: 5px solid black;
    border-left: 0;
    border-top: 0;
    height: 45px;
    width: 170px;
    /* padding: 10px; */
    /* padding-bottom: 3px; */
    margin: 30px;
    padding-left: 5px;
}

.heading h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.image {
    width: 350px;
    height: 250px;
}

.image img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.singlecard .content {
    padding: 3px;
}

.content h2 {
    margin: 0;
    width: 200px;
}

.content h3 {
    float: right;
}

.topicsss {
    margin-left: 10px;
    background-color: rgb(206, 174, 132);
    padding: 5px;
    /* width: 20px; */
    height: 23px;
    box-sizing: content-box;
    border-radius: 2px;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: black;
}

.titler {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 5px;
}

.title {
    font-size: 22px;
    font-weight: 500;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.ettag {
    padding: 5px;
    border: 2px solid rgb(146, 118, 118);
    margin: 5px;
}

.writer {
    margin-top: auto;


    /* justify-content: flex-end; */
    margin-right: 10px;
    text-align: right;
}

a .delete {
    border-radius: 5px;
    /* margin-left: 5px; */
    /* left: 0; */
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 40, 40, 0.97);
    height: 30px;
    width: 140px;
    font-size: 16px;
}

.deletion {
    text-align: center;
    margin-top: 5px;
}

.right {
    margin-bottom: 20px;
}

