@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@500&family=Playfair+Display:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 255, 255);
    min-height: 100vh;

/* background-color: red; */
/* position: relative; */

}

 /* #particles-js{

    background: transparent;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;

} */

/* .footer{
    margin-top: 0 !important;
} */






.contactus-container{
    margin-top: 70px;
    width: 1000px;
    height: 650px;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    /* color: white; */
    font-weight: 600;
    /* overflow: hidden; */
    font-family: 'Playfair Display', serif;
    /* position: absolute; */
}

.contactus-links .single-link{
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.contactus-links .single-link i{
    margin-right: 10px;
}

.contactus-image{
    width: 400px;
    height: 200px;
}

.contactus-left{
    width: 500px;
    height: 600px;
    background-color: rgb(249, 212, 212);
    padding: 5px 20px;
    color: rgb(45, 17, 17);
    border-radius: 7px;
    margin-right: 10px;
    border: 0.3px solid rgb(41, 2, 2);
}

.contactus-right{
    padding: 5px 20px;
    overflow-y: scroll;
    width: 500px;
    height: 600px;
    background-color: rgb(181 250 161);

    border-radius: 7px;
    border: 0.3px solid rgb(41, 2, 2);
}

.contactus-right form{
    display: flex;
    flex-direction: column;
}

.contactus-title{
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
    color: rgb(45, 17, 17);
}

.contactus-right input{
    width: 95%;
    border: none;
    outline: none;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

.contactus-right textarea{
    margin-top: 5px;
    width: 95%;
    border: none;
    outline: none;
    height: 180px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.contactus-right .contactus-submit{
    border: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(3, 74, 3);
    width: 200px;
    height: 40px;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    transition: ease-out 0.3s;
}

.contactus-right .contactus-submit:hover{
    background-color: rgb(4, 84, 4);
    color: white;
    cursor: pointer;
}


@media only screen and (max-width:1100px){
    .contactus-container{
        flex-direction: column;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(0deg);
        width: 600px;
        margin-bottom: 20px;
    }
    .contactus-left{
        margin-bottom: 20px;
        width: 600px;
    }
    .contactus-right{
         width: 600px;
    }
    .contactus-image{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:620px){
    .contactus-container{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(0deg);
        width: 340px;

        margin-bottom: 10px;
    }
    .contactus-left{
        margin-bottom: 10px;
        width: 340px;
        font-size: 12px;
        height: 500px;
    }
    .contactus-right{
         width: 340px;
         font-size: 12px;
         height: 500px;
    }
    .contactus-image{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contactus-right textarea{
        height: 140px;
    }
    .contactus-right input{
        height: 35px;
    }
}


