
.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 100px;
    position: relative;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    margin-left: -20px;
    margin-bottom: 20px;
  }
  .footer-col ul li a span{
      padding-left: 20px;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 12px;
  }

  .footer-col ul li a i {
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .footer-col ul li a i:hover{
    color: white;
  }



  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;

  }

  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }

  .copyright{
    text-align: center;
    border-top: 1px solid white;
    padding: 20px;
    margin-bottom: -10px;
    background-color: #24262b;
    color: white;
  }
  .copyright i{
    padding-right: 10px;
  }
  .copyright span{
    padding-left: 5px;
    line-height: 1.6;
    font-weight: bold;
    color: white;
  }