.mysearchbar{
    max-width: 600px ;
    width: 500px;
}
.searchbar-container{
    justify-content: flex-end;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}


.searchbar-container .myfilterdropdown{
    margin-left: 30px;

}

.searchbar-container .myselect{
    width: 150px;
}

.searchbar-container .btn{
         text-align: center;
    }

.searchbar-container #filter_based_on{
    min-width: 150px;
}

.topic_choose{
    margin-left: 30px;
}

.topic_choose_select{
    padding: 5px;
    /* margin-right: 30px; */
    border: none;
    border-radius: 5px;
}

.searchbar-container .searchbar_btn{
    margin-left: 30px;
}



@media only screen and (max-width:900px){

    .searchbar-container .searchbar-form{
    flex-wrap: wrap;

}
    .mysearchbar{
        width: 70vw;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .searchbar-container .myselect{
    width: 120px;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 40px;
    text-align: center;
}

.searchbar-container #filter_based_on{
    min-width: 120px;
    font-size: 12px;
    text-align: center;
}

    .searchbar-container .btn{
        font-size: 12px;
    }

    .searchbar-container .myfilterdropdown{
     margin-left: 0;
     margin-right: 0px;
     font-size: 13px;
    }
}





